body {
    background-color: cadetblue;
}

.img-portrait {
    position: relative;
    padding: 50px;
    border-radius: 50%;
    max-width: 800px;
    vertical-align: middle;
}

.text {
    color: black;
}

/* Bottom right text */
.text-portrait {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 75%;
  }

.outside {
    position: relative;
}
